# OS
.DS_Store

# Python
**/__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.venv311/
backend/.venv/
backend/.venv311/
backend/.pycache/

# Environment files
.env
backend/.env

# Node
**/node_modules/

# Build outputs
**/dist/
**/build/

# Logs
*.log

# IDE
.vscode/
.idea/
